iframe {
	width: 32.5%;
	height: 200px;
	position: relative;
	background-color: RED;
	float: left;
	margin-right: 0.3%;
}
header {
	background-color: limegreen;
}
table{
	height: 5%;
	width: 100%;
	align-content: center;
}
a{
	color: black;
	text-decoration: none;
}